[submodule "Semantic-UI"]
  path = public/Semantic-UI
  url = https://github.com/Semantic-Org/Semantic-UI.git

[submodule "laradock"]
  path = laradock
  url = https://github.com/laradock/laradock.git
